<h1>Click on event title to add / check your checklist for the event</h1>
<% @e.each do |event|%>
<%=link_to "#{event.title} at #{event.date.to_formatted_s(:long_ordinal)}", "/days/#{event.id}"%><br>
<%end%>
<hr>
<h1>Add an event</h1>

<%= form_tag("/days", method: "post") do %>
  <%= label_tag(:title, "Event Title:") %>
  <%= text_field_tag(:title) %><br>
  <%= label_tag(:date, "Event Date:") %>
  <%= date_field_tag(:date)%>
  <%= submit_tag("ADD EVENT") %>
<% end %>